.container {
  max-width: 928px;

}

.main {
  height: 550px;
  padding-top: 55px;
  background: url(https://s13.postimg.org/i133s4nh3/screen_shot_2016_11_30_at_2_32_2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 110%;
}

.aboutmain {
  height: 550px;
  padding-top: 55px;
  background: url(http://i.imgur.com/fBjA64a.jpg);
  background-size: 100% 100%;
  min-height: 100%;
	width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.contactmain {
  height: 550px;
  padding-top: 55px;
  background: url(http://i.imgur.com/BYuUKuh.jpg);
  background-size: 100% 100%;
  min-height: 100%;
	width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.main p {
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 40px;
}

h1 {
  font-size: 64px;
  font-weight: 100;
  margin-bottom: 20px;
  background-color: white;
  opacity: .8;
  display: inline-block;
}

/*#herohtwo {
  background-color: white;
  opacity: .8;
  display: inline-block;
}*/

a {
  font-size:18px;
  font-weight: 200;
}

h1, h2, p, a {
  font-family: 'Helvetica Neue Thin', sans-serif;
}

.subhead {
	border: 2px solid black;
	display:inline;
}

.contactbtn {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(99, 104, 112);
}
.contactbtn:hover {
  background-color: #b51e1e;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dbdbdb;
}

.bodyimage {
  width: 600px;
  height: 400px;

}

/*.row {
  display: inline-block;
}

.sidetext {
  display: inline-block;

}*/

.linkstyle {
  text-decoration: none;
  color: black;
  font-size: 64px;
  font-weight: 100;
  margin-bottom: 20px;
  background-color: white;
  opacity: .8;
  display: inline-block;
}

.linkstyle:hover {
  background-color: #88909b;
}


footer {
  border-top: 1px solid #dbdbdb;
  background-color: #f3f3f3;
  padding: 20px 0px 80px;
  text-align: center;
}

}
